name: Backend Deployment

on:
  workflow_dispatch:

env:
    ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}  
    AWS_REGION: ${{ vars.AWS_REGION }}  # Replace with your AWS region
    ECR_REPO_URL: ${{ vars.ECR_BACKEND }}  # Replace with your ECR repository URL
    TF_VAR_password: ${{ secrets.TF_VAR_PASSWORD }}  
    TF_VAR_COGNITO_USER_POOL_CLIENT_ID: ${{ secrets.TF_VAR_COGNITO_USER_POOL_CLIENT_ID }}
    TF_VAR_COGNITO_USER_POOL_ID: ${{ secrets.TF_VAR_COGNITO_USER_POOL_ID }}
    TF_VAR_AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    TF_VAR_AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    TF_VAR_S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
    TF_VAR_SQUARE_APPLICATION_ID: ${{ secrets.SQUARE_APPLICATION_ID }}
    TF_VAR_SQUARE_APPLICATION_SECRET: ${{ secrets.SQUARE_APPLICATION_SECRET }}
    TF_VAR_SQUARE_ENVIRONMENT: ${{ secrets.SQUARE_ENVIRONMENT }}

permissions:
  id-token: write
  contents: read
jobs:
  build:
    environment: dev
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.set-image-tag.outputs.IMAGE_TAG }}
      latest_tag: ${{ steps.set-latest-tag.outputs.image_tag_frontend }}
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          audience: sts.amazonaws.com
          role-to-assume: arn:aws:iam::${{ env.ACCOUNT_ID }}:role/terraform-deploy
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build Docker image
        env:
          IMAGE_TAG: ${{ steps.set-image-tag.outputs.IMAGE_TAG }}
        run: |
          cd ./python
          docker build -t ${{ env.ECR_REPO_URL }}:latest .
          docker tag ${{ env.ECR_REPO_URL }}:latest ${{ env.ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPO_URL }}:latest
          docker push ${{ env.ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPO_URL }}:latest

